[Unit]
Description=NTToolsBot
After=syslog.target network.target

[Service]
Type=simple

WorkingDirectory=/usr/local/ntt
ExecStart=/bin/bash /usr/local/ntt/start.sh
Restart=on-failure

User=root
Group=root

[Install]

WantedBy=multi-user.target
