[Unit]
Description=NTTBot
After=syslog.target network.target

[Service]
Type=simple

WorkingDirectory=/bot
ExecStart=/bin/bash /bot/start.sh

User=root
Group=root

[Install]

WantedBy=multi-user.target